<h4>Articulo</h4>
<div class="row">
    <div class="col-sm-6">

		<!--<app-carrito></app-carrito>-->
			
		<div class="card  m-2" style="width: 18rem;">
			<img [src]="item.img" class="card-img-top img-fluid" [alt]="item.nombre" >
			<div class="card-body">
			  <h5 class="card-title center">{{ item.nombre }}</h5>
			  <hr>
			  <div class="row marg-izq">
				<p class="card-text bold">Precio:</p>
				<p class="card-text marg-izq bolt"><small> $ {{ item.precio }}</small></p>
			  </div>    
	  
			  <div class="row marg-izq">
				<p class="card-text bold">Unidades disponibles:</p>
				<p class="marg-izq bolt">[ {{ item.stock }} ]</p>
			  </div>
			  <div class="row marg-izq">
				<p class="card-text bold">Unidades añadidas:</p>
				<p class="card-text marg-izq bolt"><small> $ {{ canti }}</small></p>
			  </div>
			  <div class="row marg-izq">
				<p class="card-text bold">Sub Total:</p>
				<p class="card-text marg-izq bolt"><small> $ {{ subTotal }}</small></p>
			  </div>
			</div>
			
			<div class="card-footer">
				<button class="btn btn-primary btn-block" [routerLink]="['/home']">Regresar</button>
				<div class="row footer">
				 </div>
			</div>
		</div>
		


	</div>
  </div>
